/* line 1, ../scss/style.scss */
header {
  background-color: #009688;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 30px;
}
/* line 7, ../scss/style.scss */
header h1 {
  color: yellow;
  text-align: center;
}

/* line 13, ../scss/style.scss */
body {
  width: 100%;
  margin: 0;
}

/* line 19, ../scss/style.scss */
#conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 35, ../scss/style.scss */
.lanote {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #ffcdd2;
  font-family: Apple chancery, cursive;
}

/* line 46, ../scss/style.scss */
.lechic {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #fafafa;
  font-family: Snell Roundhand, cursive;
}

/* line 54, ../scss/style.scss */
h2 {
  background: -webkit-linear-gradient(#3f51b5, #03a9f4, #40c4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 63, ../scss/style.scss */
.ledelice {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #fafafa;
  font-family: Snell Roundhand, cursive;
}

/* line 75, ../scss/style.scss */
.lapalette {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #fafafa;
  font-family: Snell Roundhand, cursive;
}

/* line 87, ../scss/style.scss */
.menu {
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  transform: scale(1);
}
/* line 92, ../scss/style.scss */
.menu:hover {
  transform: scale(1.2);
}

/* line 97, ../scss/style.scss */
.fa-music {
  font-size: 50px;
  color: purple;
}

/* line 104, ../scss/style.scss */
a:link {
  text-decoration: none;
}

/* line 116, ../scss/style.scss */
.pro {
  border-radius: 8px;
  margin-top: 2.5%;
  margin-left: 35%;
  width: 30%;
  font-size: 22px;
  transform: scale(1, 1);
  background-color: #009688;
}
/* line 126, ../scss/style.scss */
.pro:hover {
  transform: scale(1.15);
}

/* line 134, ../scss/style.scss */
.colorpro {
  color: yellow;
}

/* line 138, ../scss/style.scss */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #009688;
  color: yellow;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
}

/* line 150, ../scss/style.scss */
.lienfooter {
  color: yellow;
}

/* line 154, ../scss/style.scss */
p:hover {
  animation-name: bouge;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bouge {
  /* line 165, ../scss/style.scss */
  0% {
    transform: translate(2px, 2px);
  }

  /* line 166, ../scss/style.scss */
  10% {
    transform: translate(-2px, -2px);
  }

  /* line 167, ../scss/style.scss */
  20% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 168, ../scss/style.scss */
  30% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 169, ../scss/style.scss */
  40% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 170, ../scss/style.scss */
  50% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 171, ../scss/style.scss */
  60% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 172, ../scss/style.scss */
  70% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 173, ../scss/style.scss */
  80% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 174, ../scss/style.scss */
  90% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 175, ../scss/style.scss */
  100% {
    -webkit-transform: translate(2px, 2px);
  }
}

/* line 184, ../scss/style.scss */
ul {
  display: inline-block;
}

/* line 186, ../scss/style.scss */
li {
  display: inline-block;
  animation: prochainement 7s linear infinite;
  color: #009688;
}

@keyframes prochainement {
  /* line 195, ../scss/style.scss */
  0% {
    color: yellow;
  }

  /* line 201, ../scss/style.scss */
  10% {
    color: yellow;
  }

  /* line 206, ../scss/style.scss */
  20% {
    color: yellow;
  }

  /* line 209, ../scss/style.scss */
  30% {
    color: yellow;
  }

  /* line 212, ../scss/style.scss */
  40% {
    color: yellow;
  }

  /* line 215, ../scss/style.scss */
  50% {
    color: yellow;
  }

  /* line 218, ../scss/style.scss */
  60% {
    color: #009688;
  }

  /* line 221, ../scss/style.scss */
  70% {
    color: #009688;
  }

  /* line 224, ../scss/style.scss */
  80% {
    color: #009688;
  }

  /* line 229, ../scss/style.scss */
  90% {
    color: #009688;
  }

  /* line 233, ../scss/style.scss */
  100% {
    color: #009688;
  }
}

/* line 239, ../scss/style.scss */
li:nth-child(1) {
  animation-delay: 3s;
}

/* line 245, ../scss/style.scss */
li:nth-child(2) {
  animation-delay: 4s;
}

/* line 250, ../scss/style.scss */
li:nth-child(3) {
  animation-delay: 5s;
}

/* line 255, ../scss/style.scss */
li:nth-child(4) {
  animation-delay: 6s;
}
