h3{font-family:Snell Roundhand ;
    font-size: 24px;
    width:100%;
    color:#F7BE81;
    text-align: center;
    padding-top:3%;
}



  

main{
    width:100%;
}



h2{ text-align:center;
    width:100%;
    color:#F7BE81;
    font-family: Snell Roundhand;
        font-size: 26px;
    
    }
    
    ul{ font-family: Snell Roundhand;
        font-size: 20px;
        padding:0;
        color:#F7BE81 ;
     text-decoration:none;
      display:flex;
        justify-content:space-around;
       
     flex-wrap: wrap;;
    
    }
    li{
        display:flex;
    padding-top:5%;

    }
    
.élement{
    width:90%;
}

.élement2{width:10%;}


.élement3{width:100%;}


    #conteneur{
        
        background-color: #FAFAFA;
        margin-bottom:5%;
        margin-left:10%;
        margin-right:10%;
        border:2px solid gray;
        padding:10%;
     
     }
    
     
     
     
    
     
     .traitflex{
         display:flex;   
     }
     
     
     a:link{
         text-decoration: none;
     }
     