




h3{font-family: Yellowtail;
    font-size: 24px;
    width:100%;
    text-align: center;
    padding-top:4%;
    


}


.soulignementtitre
{background: linear-gradient(to top,  (#42191e ) 0%, ( #42191e) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    display:inline-block;
    width:33.3%;
&:hover{
  background-size: 100% 100%; 
}
}

h3::before{
    content:"";
   border-bottom:2px solid #42191e;
    vertical-align: middle;
    display:inline-block;
  width:33.3%;

}




h3::after{
    content:"";
    vertical-align: middle;
    border-bottom:2px solid #42191e;
    display:inline-block;
    width:33.3%;
}



.fa-music{
    background: -webkit-gradient(  linear, left top, right top, from( #f05560), to(#f89f82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;

   
  
}
main{
    width:100%;
}



.titre3{ text-align:center;
    width:100%;
    font-family: Yellowtail;
        font-size: 26px;
    
    
    }
    
    ul{ font-family: Yellowtail;
        font-size: 20px;
        padding:0;
     text-decoration:none;
      display:flex;
        justify-content:space-around;
       
     flex-wrap: wrap;;
    
    }
    li{
        display:flex;
    padding-top:5%;

    }
    
.élement{
    width:90%;
}

.élement2{width:10%;}


.élement3{width:100%;}


    #conteneur{
        color:#42191e;
        background-color:#fcdfdb ;
        margin-bottom:5%;
        margin-left:10%;
        margin-right:10%;
        border:2px solid gray;
        padding:7%;
     
     }
     .notehaut{
        text-align:center;
        width:100%;
     }
     
     .lanote{
        font-family: Yellowtail;
        font-size: 20px;
         padding:5%;
         text-align:center;
         width:100%;
     }
     
     
     
    
     
    
     
     
     a:link{
         text-decoration: none;
     }
     
     @media screen  and (max-width:739px){
        main{
            margin-bottom:25%;
        }
        ul{
            display:block;
        }
       }


       