h3{font-family: Gloria Hallelujah;
    font-size: 24px;
    width:100%;
    color:#2EFE2E ;
    text-align: center;
    padding-top:3%;
}



  

main{
    width:100%;
}



h2{ text-align:center;
    color: #2EFE2E;
    width:100%;
    font-family:Gloria Hallelujah ;
        font-size: 26px;
    
    }
    
    ul{ font-family:Gloria Hallelujah ;
        font-size: 20px;
        padding:0;
        color: #2EFE2E ;
     text-decoration:none;
      display:flex;
        justify-content:space-around;
       
     flex-wrap: wrap;;
    
    }
    li{
        display:flex;
    padding-top:5%;

    }
    
.élement{
    width:90%;
}

.élement2{width:10%;}





    #conteneur{
        
        background-color: #FAFAFA;
        margin-bottom:5%;
        margin-left:10%;
        margin-right:10%;
        border:2px solid gray;
        padding:10%;
     
     }
    
     
     
     
    
     
     .traitflex{
         display:flex;   
     }
     
     
     a:link{
         text-decoration: none;
     }
     