/* line 1, ../scss/layout/footer.scss */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #009688;
  color: yellow;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
}

/* line 13, ../scss/layout/footer.scss */
.lienfooter {
  color: yellow;
}

/* line 17, ../scss/layout/footer.scss */
p:hover {
  animation-name: bouge;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bouge {
  /* line 28, ../scss/layout/footer.scss */
  0% {
    transform: translate(2px, 2px);
  }

  /* line 29, ../scss/layout/footer.scss */
  10% {
    transform: translate(-2px, -2px);
  }

  /* line 30, ../scss/layout/footer.scss */
  20% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 31, ../scss/layout/footer.scss */
  30% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 32, ../scss/layout/footer.scss */
  40% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 33, ../scss/layout/footer.scss */
  50% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 34, ../scss/layout/footer.scss */
  60% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 35, ../scss/layout/footer.scss */
  70% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 36, ../scss/layout/footer.scss */
  80% {
    -webkit-transform: translate(2px, 2px);
  }

  /* line 37, ../scss/layout/footer.scss */
  90% {
    -webkit-transform: translate(-2px, -2px);
  }

  /* line 38, ../scss/layout/footer.scss */
  100% {
    -webkit-transform: translate(2px, 2px);
  }
}

/* line 1, ../scss/layout/header.scss */
header {
  background-color: #009688;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 30px;
}
/* line 7, ../scss/layout/header.scss */
header h1 {
  color: yellow;
  text-align: center;
}

/* line 1, ../scss/base/base.scss */
body {
  width: 100%;
  margin: 0;
}

/* line 1, ../scss/pages/palette.scss */
h3 {
  font-family: Gloria Hallelujah;
  font-size: 24px;
  width: 100%;
  color: #2EFE2E;
  text-align: center;
  padding-top: 3%;
}

/* line 13, ../scss/pages/palette.scss */
main {
  width: 100%;
}

/* line 19, ../scss/pages/palette.scss */
h2 {
  text-align: center;
  color: #2EFE2E;
  width: 100%;
  font-family: Gloria Hallelujah;
  font-size: 26px;
}

/* line 27, ../scss/pages/palette.scss */
ul {
  font-family: Gloria Hallelujah;
  font-size: 20px;
  padding: 0;
  color: #2EFE2E;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 38, ../scss/pages/palette.scss */
li {
  display: flex;
  padding-top: 5%;
}

/* line 44, ../scss/pages/palette.scss */
.élement {
  width: 90%;
}

/* line 48, ../scss/pages/palette.scss */
.élement2 {
  width: 10%;
}

/* line 54, ../scss/pages/palette.scss */
#conteneur {
  background-color: #FAFAFA;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid gray;
  padding: 10%;
}

/* line 70, ../scss/pages/palette.scss */
.traitflex {
  display: flex;
}

/* line 75, ../scss/pages/palette.scss */
a:link {
  text-decoration: none;
}
