/* line 1, ../scss/stylenote.scss */
header {
  background-color: #009688;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

/* line 15, ../scss/stylenote.scss */
body {
  width: 100%;
  margin: 0;
  font-family: Apple Chancery, cursive;
}

/* line 20, ../scss/stylenote.scss */
.fa-music {
  color: purple;
  font-size: 50px;
}

/* line 25, ../scss/stylenote.scss */
main {
  width: 100%;
}

/* line 29, ../scss/stylenote.scss */
h3 {
  text-align: center;
  width: auto;
  padding-left: 3%;
  padding-right: 3%;
}

/* line 36, ../scss/stylenote.scss */
h1 {
  color: yellow;
  text-align: center;
}

/* line 40, ../scss/stylenote.scss */
h2 {
  text-align: center;
  width: 100%;
}

/* line 44, ../scss/stylenote.scss */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #009688;
  color: yellow;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 55, ../scss/stylenote.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* line 63, ../scss/stylenote.scss */
#conteneur {
  background-color: #ffcdd2;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid gray;
  padding: 10%;
}

/* line 72, ../scss/stylenote.scss */
.notehaut {
  text-align: center;
  width: 100%;
}

/* line 77, ../scss/stylenote.scss */
.lanote {
  padding: 5%;
  text-align: center;
  width: 100%;
}

/* line 85, ../scss/stylenote.scss */
.élement {
  width: 90%;
}

/* line 89, ../scss/stylenote.scss */
.trai {
  border-top: 2px solid black;
  width: 100%;
  margin-top: 6.5%;
}

/* line 95, ../scss/stylenote.scss */
.trai {
  border-top: 2px solid black;
  width: 100%;
  margin-top: 6.5%;
}

/* line 101, ../scss/stylenote.scss */
.traitflex:before:after {
  display: flex;
  border-top: 2px solid black;
  width: 10%;
}
