h3{font-family: Gloria Hallelujah;
    font-size: 24px;
    
    text-align: center;
    padding-top:3%;
    

}

.soulignementtitre{
    background: linear-gradient(to top,  ( #2EFE2E) 0%, ( #2EFE2E) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
    display:inline-block;
    width:33.3%;
    &:hover{
        background-size: 100% 100%; 
      }
}

h3::before{
    content:"";

   border-bottom:2px solid #2EFE2E ;
    vertical-align: middle;
    display:inline-block;
  width:33.3%;

}




h3::after{
    content:"";
    vertical-align: middle;
    border-bottom:2px solid #2EFE2E;
    display:inline-block;
    width:33.3%;
}


  

main{
    width:100%;
}




.titre3{   { background: -webkit-gradient(  linear, left top, right top, from( #71b565), to(#d4ffaa));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
    width:100%;
    font-family:Gloria Hallelujah ;
        font-size: 50px;
    
    }



    
    ul{ font-family:Gloria Hallelujah ;
        font-size: 16px;
        padding:0;
     text-decoration:none;
      display:flex;
        justify-content:space-around;
       
     flex-wrap: wrap;;
    
    }
    li{
        display:flex;
    padding-top:5%;

    }
    
.élement{
    width:90%;
}

.élement2{width:10%;}





    #conteneur{
        
        background-color:#fdfffd ;
        margin-bottom:5%;
        margin-left:10%;
        margin-right:10%;
        border:2px solid gray;
        padding:7%;
     
     }
    
     
     
     
    
     
    
     
     
     a:link{
         text-decoration: none;
     }


     @media screen  and (max-width:739px){
        main{
            margin-bottom:25%;
        }
       

       h3::before{
           display:none;
       }

       h3::after{
           display:none;
       }
     
       ul{
           display:block;
       }

       .élement{
           padding-top:20%;
           text-align:center;
       }
.soulignementtitre{
    width:100%;
}
     }