/* line 1, ../../scss/pages/acceuil.scss */
#conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 17, ../../scss/pages/acceuil.scss */
.lanote {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #ffcdd2;
  font-family: Yellowtail, cursive;
}

/* line 28, ../../scss/pages/acceuil.scss */
.lechic {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #fafafa;
  font-family: Snell Roundhand, cursive;
}

/* line 41, ../../scss/pages/acceuil.scss */
.ledelice {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #fafafa;
  font-family: Cedarville Cursive, cursive;
}

/* line 53, ../../scss/pages/acceuil.scss */
.lapalette {
  border: 3px solid #E0E0E0;
  text-align: center;
  width: 33.3%;
  margin-top: 5%;
  background-color: #fafafa;
  font-family: Gloria Hallelujah, cursive;
}

/* line 65, ../../scss/pages/acceuil.scss */
.menu1 {
  color: black;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  transform: scale(1);
}
/* line 71, ../../scss/pages/acceuil.scss */
.menu1:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* line 78, ../../scss/pages/acceuil.scss */
.menu2 {
  color: #F7BE81;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  transform: scale(1);
}
/* line 84, ../../scss/pages/acceuil.scss */
.menu2:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* line 90, ../../scss/pages/acceuil.scss */
.menu3 {
  color: #03a9f4;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  transform: scale(1);
}
/* line 96, ../../scss/pages/acceuil.scss */
.menu3:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* line 102, ../../scss/pages/acceuil.scss */
.menu4 {
  color: #2EFE2E;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  transform: scale(1);
}
/* line 108, ../../scss/pages/acceuil.scss */
.menu4:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* line 114, ../../scss/pages/acceuil.scss */
.fa-music {
  font-size: 50px;
  color: purple;
}

/* line 121, ../../scss/pages/acceuil.scss */
a:link {
  text-decoration: none;
}

/* line 133, ../../scss/pages/acceuil.scss */
.pro {
  border-radius: 8px;
  margin-top: 2.5%;
  margin-left: 35%;
  width: 30%;
  font-size: 22px;
  transform: scale(1, 1);
  background-color: #009688;
}
/* line 143, ../../scss/pages/acceuil.scss */
.pro:hover {
  transform: scale(1.15);
}

/* line 151, ../../scss/pages/acceuil.scss */
.colorpro {
  color: yellow;
}

/* line 156, ../../scss/pages/acceuil.scss */
ul {
  display: inline-block;
}

/* line 158, ../../scss/pages/acceuil.scss */
li {
  display: inline-block;
  animation: prochainement 7s linear infinite;
  color: #009688;
}

@keyframes prochainement {
  /* line 167, ../../scss/pages/acceuil.scss */
  0% {
    color: yellow;
  }

  /* line 173, ../../scss/pages/acceuil.scss */
  10% {
    color: yellow;
  }

  /* line 178, ../../scss/pages/acceuil.scss */
  20% {
    color: yellow;
  }

  /* line 181, ../../scss/pages/acceuil.scss */
  30% {
    color: yellow;
  }

  /* line 184, ../../scss/pages/acceuil.scss */
  40% {
    color: yellow;
  }

  /* line 187, ../../scss/pages/acceuil.scss */
  50% {
    color: yellow;
  }

  /* line 190, ../../scss/pages/acceuil.scss */
  60% {
    color: #009688;
  }

  /* line 193, ../../scss/pages/acceuil.scss */
  70% {
    color: #009688;
  }

  /* line 196, ../../scss/pages/acceuil.scss */
  80% {
    color: #009688;
  }

  /* line 201, ../../scss/pages/acceuil.scss */
  90% {
    color: #009688;
  }

  /* line 205, ../../scss/pages/acceuil.scss */
  100% {
    color: #009688;
  }
}

/* line 211, ../../scss/pages/acceuil.scss */
li:nth-child(1) {
  animation-delay: 3s;
}

/* line 217, ../../scss/pages/acceuil.scss */
li:nth-child(2) {
  animation-delay: 4s;
}

/* line 222, ../../scss/pages/acceuil.scss */
li:nth-child(3) {
  animation-delay: 5s;
}

/* line 227, ../../scss/pages/acceuil.scss */
li:nth-child(4) {
  animation-delay: 6s;
}
