/* line 1, ../../scss/pages/chic.scss */
h3 {
  font-family: Snell Roundhand;
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding-top: 3%;
}

/* line 8, ../../scss/pages/chic.scss */
.entre {
  color: #DF7401;
}

/* line 12, ../../scss/pages/chic.scss */
.plat {
  color: #B40486;
}

/* line 17, ../../scss/pages/chic.scss */
.desert {
  color: #7401DF;
}

/* line 21, ../../scss/pages/chic.scss */
main {
  width: 100%;
}

/* line 27, ../../scss/pages/chic.scss */
h2 {
  text-align: center;
  width: 100%;
  font-family: Snell Roundhand;
  font-size: 38px;
  background: -webkit-gradient(linear, left top, right top, from(#df7401), to(#7401df));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 40, ../../scss/pages/chic.scss */
ul {
  font-family: Snell Roundhand;
  font-size: 20px;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 50, ../../scss/pages/chic.scss */
li {
  display: flex;
  padding-top: 5%;
}

/* line 56, ../../scss/pages/chic.scss */
.élement {
  width: 90%;
}

/* line 60, ../../scss/pages/chic.scss */
.élement2 {
  width: 10%;
}

/* line 63, ../../scss/pages/chic.scss */
.élement3 {
  width: 100%;
}

/* line 66, ../../scss/pages/chic.scss */
#conteneur {
  background-color: #FAFAFA;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid gray;
  padding: 10%;
}

/* line 82, ../../scss/pages/chic.scss */
.traitflex {
  display: flex;
}

/* line 87, ../../scss/pages/chic.scss */
a:link {
  text-decoration: none;
}
