header{
    background-color:#579c87;
    width:100%;
    padding-top: 1%;
    padding-bottom:1%;
    font-size: 30px;
    font-family:'Oswald', sans-serif;
    h1{
        color:#fdcb46;
        text-align:center;
    }
}

.titre2{
    color:#42191e;
    font-family:'Oswald', sans-serif;
    font-size: 26px;
    text-align:center;
}

