/* line 1, ../scss/stylechic.scss */
header {
  background-color: #009688;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

/* line 10, ../scss/stylechic.scss */
body {
  width: 100%;
  margin: 0;
}

/* line 15, ../scss/stylechic.scss */
main {
  width: 100%;
  color: #76FF03;
  font-family: FreeMono, monospace;
}

/* line 21, ../scss/stylechic.scss */
h3 {
  text-align: center;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

/* line 26, ../scss/stylechic.scss */
h1 {
  color: yellow;
  text-align: center;
}

/* line 30, ../scss/stylechic.scss */
h2 {
  text-align: center;
  width: 100%;
}

/* line 33, ../scss/stylechic.scss */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #009688;
  color: yellow;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 44, ../scss/stylechic.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* line 52, ../scss/stylechic.scss */
#conteneur {
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid gray;
  padding: 10%;
}

/* line 61, ../scss/stylechic.scss */
.note {
  text-align: center;
  width: 100%;
}

/* line 68, ../scss/stylechic.scss */
.élement {
  width: 90%;
}

/* line 73, ../scss/stylechic.scss */
.traitflex {
  display: flex;
}

/* line 78, ../scss/stylechic.scss */
.trait {
  border-top: 2px solid #76FF03;
  margin-top: 6.5%;
  width: 100%;
}

/* line 85, ../scss/stylechic.scss */
.trait2 {
  border-top: 2px solid #76FF03;
  margin-top: 6.5%;
  width: 100%;
}
