/* line 1, ../../scss/pages/delice.scss */
h3 {
  font-family: Cedarville Cursive;
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding-top: 3%;
}

/* line 13, ../../scss/pages/delice.scss */
.soulignementtitre {
  background: linear-gradient(to top, #1b46e2 0%, #9ccdf9 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
  display: inline-block;
  width: 33.3%;
}
/* line 18, ../../scss/pages/delice.scss */
.soulignementtitre:hover {
  background-size: 100% 100%;
}

/* line 23, ../../scss/pages/delice.scss */
h3::before {
  content: "";
  border-bottom: 2px solid #1b46e2;
  vertical-align: middle;
  display: inline-block;
  width: 33.3%;
}

/* line 35, ../../scss/pages/delice.scss */
h3::after {
  content: "";
  vertical-align: middle;
  border-bottom: 2px solid #1b46e2;
  display: inline-block;
  width: 33.3%;
}

/* line 55, ../../scss/pages/delice.scss */
main {
  width: 100%;
}

/* line 61, ../../scss/pages/delice.scss */
.titre3 {
  background: -webkit-gradient(linear, left top, right top, from(#1b46e2), to(#9ccdf9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
  font-family: Cedarville Cursive;
  font-size: 50px;
}

/* line 73, ../../scss/pages/delice.scss */
ul {
  font-family: Cedarville Cursive;
  font-size: 20px;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 84, ../../scss/pages/delice.scss */
li {
  display: flex;
  padding-top: 5%;
}

/* line 90, ../../scss/pages/delice.scss */
.élement {
  width: 90%;
}

/* line 94, ../../scss/pages/delice.scss */
.élement2 {
  width: 10%;
}

/* line 100, ../../scss/pages/delice.scss */
#conteneur {
  background-color: #f9f9f9,;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid gray;
  padding: 7%;
}

/* line 116, ../../scss/pages/delice.scss */
.traitflex {
  display: flex;
}

/* line 121, ../../scss/pages/delice.scss */
a:link {
  text-decoration: none;
}

@media screen and (max-width: 739px) {
  /* line 127, ../../scss/pages/delice.scss */
  main {
    margin-bottom: 25%;
  }

  /* line 130, ../../scss/pages/delice.scss */
  ul {
    display: block;
  }

  /* line 134, ../../scss/pages/delice.scss */
  h3::before {
    display: none;
  }

  /* line 137, ../../scss/pages/delice.scss */
  h3:after {
    display: none;
  }
}
