/* line 6, ../../scss/pages/note.scss */
h3 {
  display: table;
  white-space: nowrap;
  text-align: center;
}

/* line 14, ../../scss/pages/note.scss */
h3:before, h3:after {
  display: table-cell;
  width: 50%;
  background: repeat-x left center;
}

/* line 20, ../../scss/pages/note.scss */
.fa-music {
  color: purple;
  font-size: 50px;
}

/* line 25, ../../scss/pages/note.scss */
main {
  width: 100%;
}

/* line 31, ../../scss/pages/note.scss */
h2 {
  text-align: center;
  width: 100%;
}

/* line 36, ../../scss/pages/note.scss */
ul {
  padding: 0;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 45, ../../scss/pages/note.scss */
li {
  display: flex;
  padding-top: 5%;
}

/* line 49, ../../scss/pages/note.scss */
#conteneur {
  background-color: #ffcdd2;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid gray;
  padding: 10%;
}

/* line 58, ../../scss/pages/note.scss */
.notehaut {
  text-align: center;
  width: 100%;
}

/* line 63, ../../scss/pages/note.scss */
.lanote {
  padding: 5%;
  text-align: center;
  width: 100%;
}

/* line 71, ../../scss/pages/note.scss */
.élement {
  width: 90%;
}

/* line 75, ../../scss/pages/note.scss */
.traitflex {
  display: flex;
}

/* line 80, ../../scss/pages/note.scss */
a:link {
  text-decoration: none;
}
