/* line 1, ../../scss/pages/palette.scss */
h3 {
  font-family: Gloria Hallelujah;
  font-size: 24px;
  text-align: center;
  padding-top: 3%;
}

/* line 10, ../../scss/pages/palette.scss */
.soulignementtitre {
  background: linear-gradient(to top, #2efe2e 0%, #2efe2e 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
  display: inline-block;
  width: 33.3%;
}
/* line 15, ../../scss/pages/palette.scss */
.soulignementtitre:hover {
  background-size: 100% 100%;
}

/* line 20, ../../scss/pages/palette.scss */
h3::before {
  content: "";
  border-bottom: 2px solid #2EFE2E;
  vertical-align: middle;
  display: inline-block;
  width: 33.3%;
}

/* line 33, ../../scss/pages/palette.scss */
h3::after {
  content: "";
  vertical-align: middle;
  border-bottom: 2px solid #2EFE2E;
  display: inline-block;
  width: 33.3%;
}

/* line 44, ../../scss/pages/palette.scss */
main {
  width: 100%;
}

/* line 51, ../../scss/pages/palette.scss */
.titre3 {
  background: -webkit-gradient(linear, left top, right top, from(#71b565), to(#d4ffaa));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
  font-family: Gloria Hallelujah;
  font-size: 50px;
}

/* line 64, ../../scss/pages/palette.scss */
ul {
  font-family: Gloria Hallelujah;
  font-size: 16px;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 74, ../../scss/pages/palette.scss */
li {
  display: flex;
  padding-top: 5%;
}

/* line 80, ../../scss/pages/palette.scss */
.élement {
  width: 90%;
}

/* line 84, ../../scss/pages/palette.scss */
.élement2 {
  width: 10%;
}

/* line 90, ../../scss/pages/palette.scss */
#conteneur {
  background-color: #fdfffd;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid gray;
  padding: 7%;
}

/* line 109, ../../scss/pages/palette.scss */
a:link {
  text-decoration: none;
}

@media screen and (max-width: 739px) {
  /* line 115, ../../scss/pages/palette.scss */
  main {
    margin-bottom: 25%;
  }

  /* line 120, ../../scss/pages/palette.scss */
  h3::before {
    display: none;
  }

  /* line 124, ../../scss/pages/palette.scss */
  h3::after {
    display: none;
  }

  /* line 128, ../../scss/pages/palette.scss */
  ul {
    display: block;
  }

  /* line 132, ../../scss/pages/palette.scss */
  .élement {
    padding-top: 20%;
    text-align: center;
  }

  /* line 136, ../../scss/pages/palette.scss */
  .soulignementtitre {
    width: 100%;
  }
}
